### Symfony ###
/var/cache/
/var/log/
/var/sessions/

### Dependencies ###
/vendor/
/node_modules/

### Environment ###
.env.local
.env.*.local
.env.local.php

### PHPUnit ###
.phpunit.cache/

### IDE ###
/.idea/
/.vscode/

### Assets ###
/public/build/
/public/bundles/

### Composer ###
.composer/

### Logs ###
npm-debug.log
yarn-error.log