<header class="app-header">
	<div class="header-left">
		<h1 class="site-title">M-Motors</h1>
	</div>

	<div class="header-right">
		<button id="theme-toggle" aria-label="Changer de thème">
			<span class="icon-sun">☀️</span>
			<span class="icon-moon">🌙</span>
			<span class="toggle-thumb"></span>
		</button>
	</div>
	<button class="nav-toggle" aria-label="Menu">
		☰
	</button>
</header>

<nav class="main-nav">
	{{ include("partials/_navbar.html.twig") }}
</nav>
