<aside>
	<details>
		<summary>
			Vehicules
		</summary>
		<ul>
			<li><a href="{{path('vehicles_models')}}">Catalogue fabricants</a></li>
			<li><a href="{{path('vehicle_model_new')}}">Créer un modèle de véhicule</a></li>
		</ul>
		<ul><li><li><a href="{{path('vehicles')}}">Véhicules enregistrés</a></li>
</li></ul>
	</details>
</aside>
