@import "./reset.css";
@import "./variables.css";
@import "./typography.css";
@import "./layout.css";
@import "./form.css";
@import "./button.css";
@import "./checkbox.css";
@import "./header.css";
@import "./navbar.css";
@import "./table.css";
@import "./pagination.css";
@import "./dropdown.css";
@import "./modal.css";
@import "./badge.css";
@import "./footer.css";
@import "./card.css";
@import "./flashbag.css";
@import "./sidebar.css";
@import "./range.css";
@import "./filters-form.css";

/* ========================================================= */
/* BASE GLOBALE */
/* ========================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--text-primary);

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
