/* 1. Use a more intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 4. Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* 5. Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* 6. Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 7. Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Remove animations for people who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
