@import "reset-XQl7hhL.css";
@import "variables-lO8oglM.css";
@import "typography-Lrhadgo.css";
@import "layout-BSyWnQm.css";
@import "form-GtQe2b8.css";
@import "button-gep9USE.css";
@import "checkbox-kNdxc6D.css";
@import "header-tTqEzPr.css";
@import "navbar-9n50v_I.css";
@import "table-il7zs93.css";
@import "pagination-lcoycK0.css";
@import "dropdown-PCP4_G_.css";
@import "modal-cct87w7.css";
@import "badge-6JHTpGm.css";
@import "footer-0x0TEN2.css";
@import "card-OTKWC8O.css";
@import "flashbag-qdCQRD8.css";
@import "sidebar-xCF7HOz.css";
@import "range-ojeNJBE.css";
@import "filters-form-V89ys9T.css";
@import "switch-Gcvicgt.css";
@import "grid-IOxLlRi.css";
@import "dropzone-KfWRIiB.css";
@import "details-bnOMUpA.css";
@import "dossier-workflow-PlSPgp6.css";
@import "dossier-workflow-timeline-wQ1-Y36.css";
@import "vehicles-filters-layout-FTyOQDc.css";
@import "featured-gallery-0ULZjlt.css";
@import "vehicles-layout-G0ERn-l.css";
@import "dashboard-96NjVC8.css";
@import "dossier-card-YJUtxZR.css";
@import "vehicle-model-card-pHlDR5q.css";
@import "cookie-banner-PVj-qo8.css";


/* BASE GLOBALE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--text-primary);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
