@import "reset-XQl7hhL.css";
@import "variables-lO8oglM.css";
@import "typography-Lrhadgo.css";
@import "layout-ES9AhF3.css";
@import "form-GtQe2b8.css";
@import "button-yv5zmlv.css";
@import "checkbox-kNdxc6D.css";
@import "header-tTqEzPr.css";
@import "navbar-fnLxAgB.css";
@import "table-BenhpGm.css";
@import "pagination-lcoycK0.css";
@import "dropdown-PCP4_G_.css";
@import "modal-wQ-VujO.css";
@import "badge-P4DHWVc.css";
@import "footer-0x0TEN2.css";
@import "card-gZROnmi.css";
@import "flashbag-qdCQRD8.css";
@import "sidebar-_NWizi2.css";
@import "range-ojeNJBE.css";
@import "filters-form-J0xK5Vi.css";
@import "switch-Gcvicgt.css";
@import "grid-IOxLlRi.css";
@import "dropzone-KfWRIiB.css";
@import "details-yujnhI9.css";
@import "dossier-workflow-PlSPgp6.css";
@import "dossier-workflow-timeline-wQ1-Y36.css";
@import "vehicles-filters-layout-6XOdR8G.css";
@import "featured-gallery-0ULZjlt.css";
@import "vehicles-layout-5guS7PT.css";
@import "dashboard-96NjVC8.css";
@import "dossier-card-N-EMuCl.css";

/* BASE GLOBALE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--font-family);
  background: var(--bg-primary);
  color: var(--text-primary);

  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
