@import "variables-0TG1OQp.css";
@import "reset-XQl7hhL.css";
@import "typography-7_OiI54.css";
@import "layout-KPRbimN.css";
@import "form-_42IFXU.css";
@import "button-GuUcJxP.css";
@import "checkbox-R0UiYyX.css";
@import "header-r6bmWoj.css";
@import "navbar-WZbNosj.css";
@import "table-U1KyIjR.css";
@import "pagination-lISwGwc.css";

/* ========================================================= */
/* BASE GLOBALE (ne doit PAS écraser les variables) */
/* ========================================================= */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Utilise la police du design system */
  font-family: var(--font-family);

  /* Utilise le fond du design system */
  background: var(--bg-primary);
  color: var(--text-primary);
}
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: var(--space-m);
  margin: var(--space-m);
  justify-content: center;
  align-items: center;
}
