/* Style général du badge */
.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 20px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  transition: 0.2s ease;
}
.badge:hover {
  transform: scale(1.05);
}
/* Etats du workflow */

.badge-available {
  background-color: #28a745; /* vert */
}

.badge-rented {
  background-color: #fd7e14; /* orange */
}

.badge-sold {
  background-color: #dc3545; /* rouge */
}

.badge-maintenance {
  background-color: #007bff; /* bleu */
}
