/* CARDS */

.card {
  background: var(--surface-1);
  border: 1px solid var(--border-light);
  border-radius: var(--radius);
  padding: var(--space-m);
  box-shadow: var(--shadow-light);
}

.card:hover {
  box-shadow: var(--shadow-medium);
}
