.dashboard-wrapper {
  display: grid;
  grid-template-columns: 280px auto;
  gap: 2rem;
  width: 100%;
  margin: 10px;
  align-items: start;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .dashboard-wrapper {
    grid-template-columns: 1fr;
  }
}
