#featured-vehicles-gallery-wrapper {
  display: flex;
  gap:20px;
  flex-direction: row;
  max-width: 1200px;
  overflow-y: auto;
  margin: 10px auto;
  padding: 10px;
}

#featured-vehicles-gallery-wrapper .cards-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
}

#featured-vehicles-gallery-wrapper .vehicle-card {
  flex-shrink: 0;
  width: 320px;
}
