/* ========================================================= */
/* HEADER GLOBAL */
/* ========================================================= */

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: var(--surface-1);
  border-bottom: 1px solid var(--border-light);
  padding: var(--space-s) var(--space-m);
  align-items: center;
  box-shadow: var(--shadow-light);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Titre du site */
.site-title {
  margin: 0;
  font-size: 1.4rem;
  color: var(--text-primary);
  font-weight: 700;
}

/* Alignements */
.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

