#multiselect-wrapper {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 10px;
}

.multiselect-available {
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
}
.multiselect-selected{
  min-height: 200px;
}
.available-item {
    padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 2px;
}
