.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  max-width: 300px;
}

/* BARRE DE SELECTION ENTRE MIN ET MAX */
.range-track {
  position: absolute;
  height: 6px;
  background: #333; /* couleur de la sélection */
  top: 50%;
  transform: translateY(-50%);
  border-radius: 3px;
  z-index: 0; /* toujours derrière les sliders */
  padding: 10px;
}

/* SLIDERS */
.range-container input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  background: transparent;
  height: 6px;
  z-index: 2; /* au-dessus de la track */
}

/* Track gris par défaut */
.range-container input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}

.range-container input[type="range"]::-moz-range-track {
  height: 6px;
  background: #ddd;
  border-radius: 3px;
}

/* THUMB (curseur) */
.range-container input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px; /* aligne avec la track */
  position: relative;
  z-index: 3; /* toujours au-dessus */
}

.range-container input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 3;
}
