.sidebar {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 260px;
  min-height: 100vh;
  overflow-y: scroll;
  border: 1px solid darkgray;
  transition: width 0.25s ease;
}
body.sidebar-collapsed .sidebar {
  width: 70px;
}
.sidebar-handle {
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);

  width: 24px;
  height: 40px;

  border: 1px solid #ddd;
  background: white;
  border-radius: 4px;

  cursor: pointer;
}
.sidebar-handle i {
  transition: transform 0.2s;
}

body.sidebar-collapsed .sidebar-handle i {
  transform: rotate(180deg);
}
