/* TITRES */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--space-m) 0 var(--space-s);
  font-weight: 600;
  color: var(--text-primary);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}

/* PARAGRAPHES */

p {
  margin: var(--space-m) 0;
  line-height: 1.6;
  color: var(--text-secondary);
}

/* LIENS */

a {
  color: var(--color-primary);
  font-weight: 500;
}

a:hover {
  color: var(--color-primary-hover);
  text-decoration: underline;
}

/* LISTES */

ul li,
ol li {
  margin-bottom: var(--space-s);
  color: var(--text-secondary);
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
i .fa {
  margin-right: 10px;
}
