<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Bienvenue !{% endblock %}
    </title>

    {# Font Awesome #}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    {# JS / Importmap Symfony #}
    {% block javascripts %}
        {{ importmap('app', { defer: true }) }}
    {% endblock %}

</head>

<body>

                {{ include("partials/_header.html.twig") }}    
<div class="app-layout">

    <aside class="sidebar" id="sidebar">

        {{ include("partials/_sidebar.html.twig") }}
    </aside>

    <div class="app-main">                 

        <main class="main-content">
            <div class="container section">
                {% block body %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="container">
                {{ include("partials/_footer.html.twig") }}
            </div>
        </footer>

    </div>

</div>

{# MODALE #}

<div id="modal">
    <div class="modal-backdrop" data-modal-close></div>

    <div id="modal-content">

        <button class="modal-close" data-modal-close>
            &times;
        </button>

        <div id="modal-body">
            {# contenu injecté en AJAX #}
        </div>

    </div>
</div>

</body>
</html>