{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules
{% endblock %}

{% block body %}
	<h1>Véhicules enregistrés</h1>

	{% for brand in brands %}
		<h2>{{ brand.name }}</h2>

		{% if brand.models is empty %}
			<p>Aucun modèle trouvé.</p>
		{% else %}
			<ul>
				{% for model in brand.models %}
					<li>
						<strong>{{ model.name }}</strong>

						{% if model.variants is empty %}
							<em>(aucune variante)</em>
						{% else %}
							<ul>
								{% for variant in model.variants %}
									<li>{{ variant.name }}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}

{% endblock %}
